@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
@import url(./arc_reactor.css);
@import url(./navbar.css);
@import url(./services.css);
@import url(./skills.css);
@import url(./work.css);
@import url(./footer.css);

* {
  font-family: "Poppins", sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f6f6f6;
}
.start .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start .herotxt {
  margin-left: 5rem;
}
.start .herotxt .heading {
  display: flex;
  align-items: center;
}
.start .herotxt .heading h1 {
  text-align: left;
  font-weight: 600;
  font-size: 5rem;
  overflow: hidden;
  letter-spacing: 0.1em;
  display: flex;
}
.start .herotxt .heading h1 .gradient-text {
  background: linear-gradient(2deg, #00ff93, #c850c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start .herotxt .heading h1 .white-text {
  background: none;
  margin-left: 1rem;
}
.start .herotxt .scroll h2 {
  font-weight: 800;
  font-size: 3.6rem;
  margin-top: 0;
}
.start .herotxt .scroll h2 span::after {
  content: "";
  background: linear-gradient(-45deg, #c850c0, #4b00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: change-text 9s ease-in-out 0s infinite;
}
@keyframes change-text {
  0% {
    content: "Webs";
  }
  25% {
    content: ".Net";
  }
  50% {
    content: "Webs";
  }
  75% {
    content: ".Net";
  }
  100% {
    content: "Webs";
  }
}
.start .scroll .heart-icon {
  position: relative;
  align-self: flex-end;
  text-decoration: none;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.start .scroll .heart-icon:hover {
  bottom: 18px;
  left: 18px;
}
.start .scroll .heart-icon button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.start .main-container .scroll .heart-icon button i {
  color: #c850c0;
}

.title h2 {
  color: #edf5e1;
  font-size: 75px;
  width: 71.5rem;
  margin: 50px auto;
  text-align: center;
}

.title h2.gradient-text {
  background: linear-gradient(180deg, #00ffcc, #f6f6f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.outer-heropic-container {
  width: 45rem;
  height: 40rem;
  border-radius: 2rem;
  border-color: #00ffcc;
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.outer-heropic-container img {
  width: 45rem;
  height: auto;
  float: left;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-top: -14.5rem;
  margin-bottom: -10rem;
}

.inner-heropic-container {
  width: 15rem;
  height: 15rem;
  margin: 8.5rem auto;
}
